In [1]:
import time
import datetime
import numpy as np
import pandas as pd
# To plot pretty figures
get_ipython().run_line_magic('matplotlib', 'inline')
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 1000)
pd.set_option("display.max_colwidth",1000)
pd.set_option('display.width',1000)
import statsmodels.formula.api as sm

In [2]:
import os
filePath = "sample_csv\\"
filename_list=os.listdir(filePath)
print(filename_list)

['20200808.csv', '20201027.csv', '20201031.csv', '20201105.csv', '20201109.csv', '20201117.csv', '20201119.csv', '20201121.csv', '20201127.csv', '20201130.csv', '20201204.csv', '20201208.csv', '20201211.csv', '20201214.csv', '20201217.csv', '20201221.csv', '20201225.csv', '20201229.csv', '20210101.csv', '20210105.csv', '20210109.csv', '20210112.csv', '20210116.csv', '20210119.csv', '20210123.csv', '20210127.csv', '20210201.csv', '20210211.csv', '20210212.csv', '20210216.csv', '20210220.csv', '20210224.csv', '20210228.csv', '20210305.csv', '20210306.csv', '20210311.csv', '20210315.csv', '20210318.csv', '20210321.csv', '20210326.csv', '20210330.csv', '20210407.csv', '20210412.csv', '20210416.csv', '20210420.csv', '20210423.csv', '20210427.csv', '20210429.csv', '20210501.csv', '20210505.csv', '20210507.csv', 'csv_with_date', 'desktop.ini', 'smurf']

In [3]:
dataframe_lists=[]

In [4]:
for file in filename_list:
    if file[-3:]=="csv":
        file_year=file[:4]  #STR
        file_month=file[4:6]
        file_day=file[6:8]
        print("Timestamp="+file_year+"-"+file_month+"-"+file_day)


        df = pd.read_csv(filePath+file,encoding='utf-8')

        armor = ['头部(装甲)', '身体(装甲)','左臂(装甲)', '右臂(装甲)', '左手(装甲)', '右手(装甲)', '左腿(装甲)', '右腿(装甲)']
        body = ['头部(肉体)','身体(肉体)', '左臂(肉体)', '右臂(肉体)', '左手(肉体)', '右手(肉体)', '左腿(肉体)', '右腿(肉体)']
        skeleton = ['头部(骨架)', '身体(骨架)', '左臂(骨架)', '右臂(骨架)', '左手(骨架)', '右手(骨架)', '左腿(骨架)','右腿(骨架)']

        sum_Titian_Boday=df.groupby("泰坦名称").sum()[body]

        grouped=np.where(sum_Titian_Boday==0)
        zero_body=np.array(grouped).tolist()
        #print(zero_body)#first list is for titians, second list is for Armor

        for i in range(len(zero_body[0])):
            print(f"{file}\t{sum_Titian_Boday.index[zero_body[0][i]]}\t不打\t{armor[zero_body[1][i]]}")

Timestamp=2020-08-08
20200808.csv	Lojak	不打	右手(装甲)
20200808.csv	Mohaca	不打	身体(装甲)
20200808.csv	Terro	不打	左臂(装甲)
20200808.csv	Terro	不打	右臂(装甲)
20200808.csv	Terro	不打	左手(装甲)
20200808.csv	Terro	不打	右手(装甲)
20200808.csv	Terro	不打	左腿(装甲)
Timestamp=2020-10-27
20201027.csv	Jukk	不打	头部(装甲)
20201027.csv	Sterl	不打	头部(装甲)
20201027.csv	Sterl	不打	右臂(装甲)
Timestamp=2020-10-31
20201031.csv	Lojak	不打	右臂(装甲)
20201031.csv	Mohaca	不打	身体(装甲)
Timestamp=2020-11-05
20201105.csv	Lojak	不打	右臂(装甲)
20201105.csv	Mohaca	不打	身体(装甲)
Timestamp=2020-11-09
20201109.csv	Jukk	不打	头部(装甲)
20201109.csv	Lojak	不打	右臂(装甲)
Timestamp=2020-11-17
20201117.csv	Jukk	不打	头部(装甲)
20201117.csv	Mohaca	不打	身体(装甲)
20201117.csv	Sterl	不打	头部(装甲)
20201117.csv	Sterl	不打	右臂(装甲)
Timestamp=2020-11-19
20201119.csv	Lojak	不打	右臂(装甲)
20201119.csv	Mohaca	不打	身体(装甲)
Timestamp=2020-11-21
20201121.csv	Mohaca	不打	身体(装甲)
Timestamp=2020-11-27
20201127.csv	Jukk	不打	头部(装甲)
20201127.csv	Terro	不打	右臂(装甲)
Timestamp=2020-11-30
20201130.csv	Jukk	不打	头部(装甲)
20201130.csv	Terro	不打	左臂(装甲)
20201130.csv	Terro	不打	右臂(装甲)
20201130.csv	Terro	不打	右手(装甲)
Timestamp=2020-12-04
20201204.csv	Jukk	不打	头部(装甲)
20201204.csv	Terro	不打	头部(装甲)
20201204.csv	Terro	不打	右臂(装甲)
Timestamp=2020-12-08
20201208.csv	Jukk	不打	头部(装甲)
20201208.csv	Lojak	不打	右臂(装甲)
Timestamp=2020-12-11
20201211.csv	Lojak	不打	右臂(装甲)
20201211.csv	Mohaca	不打	身体(装甲)
Timestamp=2020-12-14
20201214.csv	Lojak	不打	右臂(装甲)
20201214.csv	Mohaca	不打	身体(装甲)
Timestamp=2020-12-17
20201217.csv	Lojak	不打	右臂(装甲)
20201217.csv	Mohaca	不打	身体(装甲)
Timestamp=2020-12-21
20201221.csv	Lojak	不打	右臂(装甲)
20201221.csv	Mohaca	不打	身体(装甲)
Timestamp=2020-12-25
20201225.csv	Jukk	不打	头部(装甲)
20201225.csv	Terro	不打	头部(装甲)
Timestamp=2020-12-29
20201229.csv	Lojak	不打	右臂(装甲)
20201229.csv	Sterl	不打	头部(装甲)
20201229.csv	Sterl	不打	右臂(装甲)
Timestamp=2021-01-01
20210101.csv	Lojak	不打	右臂(装甲)
20210101.csv	Sterl	不打	头部(装甲)
Timestamp=2021-01-05
20210105.csv	Jukk	不打	头部(装甲)
20210105.csv	Terro	不打	头部(装甲)
Timestamp=2021-01-09
20210109.csv	Jukk	不打	头部(装甲)
20210109.csv	Terro	不打	头部(装甲)
Timestamp=2021-01-12
20210112.csv	Jukk	不打	头部(装甲)
20210112.csv	Terro	不打	头部(装甲)
Timestamp=2021-01-16
20210116.csv	Lojak	不打	右臂(装甲)
20210116.csv	Mohaca	不打	身体(装甲)
20210116.csv	Sterl	不打	头部(装甲)
20210116.csv	Sterl	不打	右臂(装甲)
Timestamp=2021-01-19
20210119.csv	Jukk	不打	头部(装甲)
20210119.csv	Lojak	不打	右臂(装甲)
20210119.csv	Mohaca	不打	身体(装甲)
Timestamp=2021-01-23
20210123.csv	Jukk	不打	头部(装甲)
20210123.csv	Terro	不打	头部(装甲)
Timestamp=2021-01-27
20210127.csv	Jukk	不打	头部(装甲)
20210127.csv	Terro	不打	头部(装甲)
20210127.csv	Terro	不打	右臂(装甲)
Timestamp=2021-02-01
20210201.csv	Jukk	不打	头部(装甲)
20210201.csv	Mohaca	不打	身体(装甲)
20210201.csv	Terro	不打	头部(装甲)
20210201.csv	Terro	不打	右臂(装甲)
Timestamp=2021-02-11
20210211.csv	Lojak	不打	右臂(装甲)
20210211.csv	Mohaca	不打	身体(装甲)
20210211.csv	Sterl	不打	头部(装甲)
20210211.csv	Sterl	不打	右臂(装甲)
Timestamp=2021-02-12
20210212.csv	Jukk	不打	头部(装甲)
20210212.csv	Terro	不打	头部(装甲)
20210212.csv	Terro	不打	右臂(装甲)
Timestamp=2021-02-16
20210216.csv	Lojak	不打	右臂(装甲)
20210216.csv	Mohaca	不打	身体(装甲)
20210216.csv	Sterl	不打	头部(装甲)
20210216.csv	Sterl	不打	右臂(装甲)
Timestamp=2021-02-20
20210220.csv	Lojak	不打	右臂(装甲)
20210220.csv	Mohaca	不打	身体(装甲)
20210220.csv	Sterl	不打	头部(装甲)
20210220.csv	Sterl	不打	右臂(装甲)
Timestamp=2021-02-24
20210224.csv	Jukk	不打	身体(装甲)
20210224.csv	Terro	不打	头部(装甲)
20210224.csv	Terro	不打	右臂(装甲)
Timestamp=2021-02-28
20210228.csv	Mohaca the Gale	不打	身体(装甲)
20210228.csv	Terro the Seeker	不打	头部(装甲)
20210228.csv	Terro the Seeker	不打	右臂(装甲)
Timestamp=2021-03-05
20210305.csv	Lojak	不打	右臂(装甲)
20210305.csv	Sterl	不打	头部(装甲)
20210305.csv	Sterl	不打	右臂(装甲)
20210305.csv	Terro	不打	头部(装甲)
20210305.csv	Terro	不打	右臂(装甲)
Timestamp=2021-03-06
20210306.csv	Jukk	不打	头部(装甲)
20210306.csv	Terro	不打	头部(装甲)
20210306.csv	Terro	不打	右臂(装甲)
Timestamp=2021-03-11
20210311.csv	Mohaca the Gale	不打	身体(装甲)
20210311.csv	Terro the Seeker	不打	头部(装甲)
20210311.csv	Terro the Seeker	不打	右臂(装甲)
Timestamp=2021-03-15
20210315.csv	Mohaca	不打	身体(装甲)
20210315.csv	Terro	不打	头部(装甲)
20210315.csv	Terro	不打	右臂(装甲)
Timestamp=2021-03-18
20210318.csv	Jukk	不打	头部(装甲)
20210318.csv	Lojak	不打	右臂(装甲)
Timestamp=2021-03-21
20210321.csv	Jukk	不打	头部(装甲)
20210321.csv	Lojak	不打	右臂(装甲)
Timestamp=2021-03-26
20210326.csv	Jukk	不打	头部(装甲)
20210326.csv	Lojak	不打	右臂(装甲)
20210326.csv	Sterl	不打	头部(装甲)
20210326.csv	Sterl	不打	右臂(装甲)
Timestamp=2021-03-30
20210330.csv	Jukk	不打	头部(装甲)
20210330.csv	Mohaca	不打	身体(装甲)
20210330.csv	Terro	不打	头部(装甲)
20210330.csv	Terro	不打	右臂(装甲)
Timestamp=2021-04-07
20210407.csv	Lojak the Fissure	不打	右臂(装甲)
20210407.csv	Sterl the Unmaker	不打	头部(装甲)
20210407.csv	Sterl the Unmaker	不打	右臂(装甲)
20210407.csv	Terro the Seeker	不打	头部(装甲)
20210407.csv	Terro the Seeker	不打	右臂(装甲)
Timestamp=2021-04-12
20210412.csv	Jukk	不打	头部(装甲)
20210412.csv	Mohaca	不打	身体(装甲)
Timestamp=2021-04-16
20210416.csv	Jukk	不打	头部(装甲)
20210416.csv	Mohaca	不打	身体(装甲)
Timestamp=2021-04-20
20210420.csv	Jukk	不打	头部(装甲)
20210420.csv	Lojak	不打	右臂(装甲)
Timestamp=2021-04-23
20210423.csv	Jukk	不打	头部(装甲)
20210423.csv	Mohaca	不打	身体(装甲)
Timestamp=2021-04-27
20210427.csv	Jukk	不打	头部(装甲)
20210427.csv	Terro	不打	头部(装甲)
20210427.csv	Terro	不打	右臂(装甲)
Timestamp=2021-04-29
20210429.csv	Lojak	不打	右臂(装甲)
Timestamp=2021-05-01
20210501.csv	Jukk	不打	头部(装甲)
Timestamp=2021-05-05
20210505.csv	Jukk	不打	头部(装甲)
20210505.csv	Lojak	不打	右臂(装甲)
Timestamp=2021-05-07
20210507.csv	Jukk	不打	头部(装甲)
20210507.csv	Lojak	不打	右臂(装甲)

In [5]:
header_list = ['PlayerName', 'PlayerCode', 'TotalRaidAttacks', 'TitanNumber', 'TitanName', 'TitanDamage', 'ArmorHead',
               'ArmorTorso', 'ArmorLeftArm', 'ArmorRightArm', 'ArmorLeftHand', 'ArmorRightHand', 'ArmorLeftLeg',
               'ArmorRightLeg',
               'BodyHead', 'BodyTorso', 'BodyLeftArm', 'BodyRightArm', 'BodyLeftHand', 'BodyRightHand', 'BodyLeftLeg',
               'BodyRightLeg', 'SkeletonHead', 'SkeletonTorso', 'SkeletonLeftArm', 'SkeletonRightArm',
               'SkeletonLeftHand',
               'SkeletonRightHand', 'SkeletonLeftLeg', 'SkeletonRightLeg']

In [26]:
df1 = pd.read_csv("sample_csv\\20210507.csv", header=0, names=header_list)

In [27]:
df1['TotalRaidAttacks'].max()

20

In [28]:
df1

    PlayerName PlayerCode  TotalRaidAttacks  TitanNumber TitanName  TitanDamage  ArmorHead  ArmorTorso  ArmorLeftArm  ArmorRightArm  ArmorLeftHand  ArmorRightHand  ArmorLeftLeg  ArmorRightLeg  BodyHead  BodyTorso  BodyLeftArm  BodyRightArm  BodyLeftHand  BodyRightHand  BodyLeftLeg  BodyRightLeg  SkeletonHead  SkeletonTorso  SkeletonLeftArm  SkeletonRightArm  SkeletonLeftHand  SkeletonRightHand  SkeletonLeftLeg  SkeletonRightLeg
0         OSTO    e25yde7                20            0   Takedar     18098110          0     4249708             0              0              0               0             0              0   1255488    6715840      1533767       1130531        688608        1361319      1162844             0             0              0                0                 0                 0                  0                0                 0
1         OSTO    e25yde7                20            1   Takedar            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
2         OSTO    e25yde7                20            2      Jukk     19218242          0           0             0              0              0               0             0              0         0    1844741      1096022       1245824        985381         918034      5879375       7248862             0              0                0                 0                 0                  0                0                 0
3         OSTO    e25yde7                20            3      Jukk     19349413       3984           0             0         692508              0               0             0              0         0    6637156      1069809       7758546        954661        1124146       376840        731758             0              0                0                 0                 0                  0                0                 0
4         OSTO    e25yde7                20            4     Lojak            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
..         ...        ...               ...          ...       ...          ...        ...         ...           ...            ...            ...             ...           ...            ...       ...        ...          ...           ...           ...            ...          ...           ...           ...            ...              ...               ...               ...                ...              ...               ...
387      一个复古风    y66xd7n                 8            3      Jukk            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
388      一个复古风    y66xd7n                 8            4     Lojak            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
389      一个复古风    y66xd7n                 8            5   Takedar            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
390      一个复古风    y66xd7n                 8            6     Lojak      6112856          0           0        671270              0        5441586               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
391      一个复古风    y66xd7n                 8            7   Takedar            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0

[392 rows x 30 columns]

In [23]:
df1['TitanNumber'].max()

7

In [31]:
df1.groupby("PlayerCode").count().shape[0]

49

In [44]:
bodys=['BodyHead', 'BodyTorso', 'BodyLeftArm', 'BodyRightArm', 'BodyLeftHand', 'BodyRightHand', 'BodyLeftLeg', 'BodyRightLeg']

In [54]:
no_attacks=df1.groupby(['TitanNumber','TitanName'])[bodys].sum()
no_attacks=no_attacks.reset_index()
no_attacks

   TitanNumber TitanName  BodyHead  BodyTorso  BodyLeftArm  BodyRightArm  BodyLeftHand  BodyRightHand  BodyLeftLeg  BodyRightLeg
0            0   Takedar  48052003   38572177      6373005       6949554       8436379        7288511      9541273      10949995
1            1   Takedar  40286989   51422452      8059509       9124995       9124998        7353175      9674963      10949986
2            2      Jukk         0   51099979     10229986      12208451      12774992       10137546     24856800      24700963
3            3      Jukk         0   51099979     12774990      12616788      11003234        8095024     25549983      25549987
4            4     Lojak  26697863   54985403     10563686             0       9592932        6119907     16868868      21713677
5            5   Takedar  28178008   59819487      9124987       9124990       9124991        9124992     13966632      11274778
6            6     Lojak  22493357   46845119     10949991             0      10949990       10949988     21899993      21899988
7            7   Takedar  36912940   52436974      9712435       9124984      11374878        9316922     10949981      10949984

In [57]:
df1

    PlayerName PlayerCode  TotalRaidAttacks  TitanNumber TitanName  TitanDamage  ArmorHead  ArmorTorso  ArmorLeftArm  ArmorRightArm  ArmorLeftHand  ArmorRightHand  ArmorLeftLeg  ArmorRightLeg  BodyHead  BodyTorso  BodyLeftArm  BodyRightArm  BodyLeftHand  BodyRightHand  BodyLeftLeg  BodyRightLeg  SkeletonHead  SkeletonTorso  SkeletonLeftArm  SkeletonRightArm  SkeletonLeftHand  SkeletonRightHand  SkeletonLeftLeg  SkeletonRightLeg
0         OSTO    e25yde7                20            1   Takedar            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
1         OSTO    e25yde7                20            2      Jukk     19218242          0           0             0              0              0               0             0              0         0    1844741      1096022       1245824        985381         918034      5879375       7248862             0              0                0                 0                 0                  0                0                 0
2         OSTO    e25yde7                20            3      Jukk     19349413       3984           0             0         692508              0               0             0              0         0    6637156      1069809       7758546        954661        1124146       376840        731758             0              0                0                 0                 0                  0                0                 0
3         OSTO    e25yde7                20            4     Lojak            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
4         OSTO    e25yde7                20            5   Takedar            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
..         ...        ...               ...          ...       ...          ...        ...         ...           ...            ...            ...             ...           ...            ...       ...        ...          ...           ...           ...            ...          ...           ...           ...            ...              ...               ...               ...                ...              ...               ...
386      一个复古风    y66xd7n                 8            3      Jukk            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
387      一个复古风    y66xd7n                 8            4     Lojak            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
388      一个复古风    y66xd7n                 8            5   Takedar            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
389      一个复古风    y66xd7n                 8            6     Lojak      6112856          0           0        671270              0        5441586               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
390      一个复古风    y66xd7n                 8            7   Takedar            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0

[391 rows x 30 columns]

In [56]:
def add_new_CSVRules_instance(row):
    
    global each_csv_instances
    global player_name_t_new_instances
    body_TF=[True,True,True,True,True,True,True,True]
    body=['BodyHead', 'BodyTorso', 'BodyLeftArm', 'BodyRightArm', 'BodyLeftHand', 'BodyRightHand', 'BodyLeftLeg', 'BodyRightLeg']
    for i in range(len(body)):
        if row[body[i]]<=5000000:
            body_TF[i]=False
            
    if body_TF==[True,True,True,True,True,True,True,True]:
        return
    
    CSVRules_t_new_instance = CSVRules(      
        TitanNumber =row['TitanNumber'] ,
        TitanName =row['TitanName'] ,
        CSV_ID=csv_id,
        ArmorHead = body_TF[0],
        ArmorTorso = body_TF[1],
        ArmorLeftArm = body_TF[2],
        ArmorRightArm = body_TF[3],
        ArmorLeftHand = body_TF[4],
        ArmorRightHand = body_TF[5],
        ArmorLeftLeg = body_TF[6],
        ArmorRightLeg = body_TF[7],
    )

    each_csv_instances.append(player_name_t_new_instance)


no_attacks.apply(add_new_CSVRules_instance, axis=1, args=())

NameError: name 'CSVRules' is not defined

In [59]:
df=df1.copy()

In [60]:
df.columns

Index(['PlayerName', 'PlayerCode', 'TotalRaidAttacks', 'TitanNumber', 'TitanName', 'TitanDamage', 'ArmorHead', 'ArmorTorso', 'ArmorLeftArm', 'ArmorRightArm', 'ArmorLeftHand', 'ArmorRightHand', 'ArmorLeftLeg', 'ArmorRightLeg', 'BodyHead', 'BodyTorso', 'BodyLeftArm', 'BodyRightArm', 'BodyLeftHand', 'BodyRightHand', 'BodyLeftLeg', 'BodyRightLeg', 'SkeletonHead', 'SkeletonTorso', 'SkeletonLeftArm', 'SkeletonRightArm', 'SkeletonLeftHand', 'SkeletonRightHand', 'SkeletonLeftLeg', 'SkeletonRightLeg'], dtype='object')

In [61]:


armor = ['ArmorHead', 'ArmorTorso', 'ArmorLeftArm', 'ArmorRightArm', 'ArmorLeftHand', 'ArmorRightHand', 'ArmorLeftLeg', 'ArmorRightLeg']
body = ['BodyHead', 'BodyTorso', 'BodyLeftArm', 'BodyRightArm', 'BodyLeftHand', 'BodyRightHand', 'BodyLeftLeg', 'BodyRightLeg']
skeleton = ['SkeletonHead', 'SkeletonTorso', 'SkeletonLeftArm', 'SkeletonRightArm', 'SkeletonLeftHand', 'SkeletonRightHand', 'SkeletonLeftLeg', 'SkeletonRightLeg']

sum_Titian_Boday=df.groupby("TitanName").sum()[body]

In [62]:
sum_Titian_Boday

            BodyHead  BodyTorso  BodyLeftArm  BodyRightArm  BodyLeftHand  BodyRightHand  BodyLeftLeg  BodyRightLeg
TitanName
Jukk               0  102199958     23004976      24825239      23778226       18232570     50406783      50250950
Lojak       49191220  101830522     21513677             0      20542922       17069895     38768861      43613665
Takedar    153429940  202251090     33269936      34324523      38061246       33083600     44132849      44124743

In [63]:
grouped=np.where(sum_Titian_Boday==0)

In [64]:
grouped

(array([0, 1], dtype=int64), array([0, 3], dtype=int64))

In [66]:
zero_body=np.array(grouped).tolist()
zero_body

[[0, 1], [0, 3]]

In [67]:
list_sum_Titian_Boday_index=list(sum_Titian_Boday.index)
list_sum_Titian_Boday_index

['Jukk', 'Lojak', 'Takedar']

In [ ]:
list_sum_Titian_Boday_index=list(sum_Titian_Boday.index)
#print(list_sum_Titian_Boday_index)

titian_need_Zero=[]
for i in range(len(zero_body[0])):
    titian_need_Zero.append(list_sum_Titian_Boday_index[zero_body[0][i]])
#print(titian_need_Zero)

def wrong_function(row):
    #print(row['泰坦名称'])
    #print("===========================")
    if str(row['泰坦名称']) in titian_need_Zero:
        #print("我进if啦==================================================")
        num_titian=list_sum_Titian_Boday_index.index(row['泰坦名称'])
        #print(f"我是第{num_titian}个泰坦")
        wrong_dmg=0
        #遍历zero_body[0]，如果和num_titian一样，就累加，遍历结束，返回
        for i in range(len(zero_body[0])):
            if num_titian==i:
                wrong_dmg += row[armor[zero_body[1][i]]]
                #print(wrong_dmg)
        return wrong_dmg
    else:
        return 0



df["错误伤害"]=df.apply(wrong_function,axis=1,args=())

df["有效伤害"]=df["泰坦伤害"]-df["错误伤害"]

df_total=df.groupby(["玩家编号","玩家名称"]).sum()
df_total["突袭次数"]=df.groupby(["玩家编号","玩家名称"])["总突击伤害"].mean()
df_total["个人均伤"]=df_total["泰坦伤害"]/df_total["突袭次数"]
df_total["有效占比"]=round(df_total["有效伤害"]/df_total["泰坦伤害"]*100,2)

df_total['armor_total'] = round(df_total[armor].apply(lambda x : (x.sum()),axis=1 ),2)

df_total['body_total'] = round(df_total[body].apply(lambda x : (x.sum()),axis=1 ),2)

df_total['armor_total_per']=round((df_total['armor_total']/df_total["泰坦伤害"])*100,2)

df_total['body_total_per']=round((df_total['body_total']/df_total["泰坦伤害"])*100,2)

df_total["Rank_有效伤害"]=df_total["有效伤害"].rank(ascending=False).map(lambda x:int(x))
df_total["Rank_倒数次数"]=df_total["总突击伤害"].rank(ascending=True).map(lambda x:int(x))

df_f=df_total.drop(columns=['总突击伤害',"泰坦编号",'头部(装甲)', '身体(装甲)','左臂(装甲)', '右臂(装甲)', '左手(装甲)', '右手(装甲)', '左腿(装甲)', '右腿(装甲)',
                       '头部(肉体)','身体(肉体)', '左臂(肉体)', '右臂(肉体)', '左手(肉体)', '右手(肉体)', '左腿(肉体)', '右腿(肉体)',
                       '头部(骨架)', '身体(骨架)', '左臂(骨架)', '右臂(骨架)', '左手(骨架)', '右手(骨架)', '左腿(骨架)','右腿(骨架)' ])


list_columns_temp=list(df_f.columns)

timestamp=pd.Timestamp(file_year+"-"+file_month+"-"+file_day)

df_f.columns=[[timestamp]*len(list(df_f.columns)),list_columns_temp]


dataframe_lists.append(df_f)

In [70]:
df.groupby(["PlayerCode","TitanNumber"]).sum().reset_index()

    PlayerCode  TitanNumber  TotalRaidAttacks  TitanDamage  ArmorHead  ArmorTorso  ArmorLeftArm  ArmorRightArm  ArmorLeftHand  ArmorRightHand  ArmorLeftLeg  ArmorRightLeg  BodyHead  BodyTorso  BodyLeftArm  BodyRightArm  BodyLeftHand  BodyRightHand  BodyLeftLeg  BodyRightLeg  SkeletonHead  SkeletonTorso  SkeletonLeftArm  SkeletonRightArm  SkeletonLeftHand  SkeletonRightHand  SkeletonLeftLeg  SkeletonRightLeg
0      2ww84em            0                13            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
1      2ww84em            1                13            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
2      2ww84em            2                13            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
3      2ww84em            3                13     20406253     527212    11597502        661444         418191         725952          543056       5555780         377113         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
4      2ww84em            4                13            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
..         ...          ...               ...          ...        ...         ...           ...            ...            ...             ...           ...            ...       ...        ...          ...           ...           ...            ...          ...           ...           ...            ...              ...               ...               ...                ...              ...               ...
386    yg8x58q            3                20            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
387    yg8x58q            4                20     13719165    5852463      799935        579249              0         657167          929417        868225        4032705         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
388    yg8x58q            5                20     13508558          0     7305675        268546        3175721         452449         1338956             0              0    238683          0            0             0             0              0       310381        418144             0              0                0                 0                 0                  0                0                 0
389    yg8x58q            6                20            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
390    yg8x58q            7                20     13732434          0     8108677             0              0              0               0             0              0    872567          0       794407        764824        733530         894865       646080        917480             0              0                0                 0                 0                  0                0                 0

[391 rows x 28 columns]

In [ ]:
df['WrongDMG']

In [71]:
parts_sign=[[True, True, False, False, False, False, False, True, 0], [True, False, True, True, True, True, True, True, 1], [True, True, True, True, True, False, True, True, 2], [True, False, True, True, True, True, True, True, 3], [True, False, True, True, True, True, True, True, 4], [True, True, True, True, True, False, True, True, 5]]

In [ ]:
for i in parts_sign:
    if row['TitanNumber']==i[8]:
        for j in range(len(i)):
            if i[j]==False:

In [ ]:
def get_WrongDMG(row):
    armor=['ArmorHead','ArmorTorso', 'ArmorLeftArm', 'ArmorRightArm', 'ArmorLeftHand', 'ArmorRightHand', 'ArmorLeftLeg','ArmorRightLeg']
    WrongDMG_per_titan=0
    for i in parts_sign:
        if row['TitanNumber']==i[8]:
            for j in range(len(i)):
                if i[j]==False:
                    WrongDMG_per_titan+=row[armor[j]]
    return WrongDMG_per_titan

In [25]:
df1

    PlayerName PlayerCode  TotalRaidAttacks  TitanNumber TitanName  TitanDamage  ArmorHead  ArmorTorso  ArmorLeftArm  ArmorRightArm  ArmorLeftHand  ArmorRightHand  ArmorLeftLeg  ArmorRightLeg  BodyHead  BodyTorso  BodyLeftArm  BodyRightArm  BodyLeftHand  BodyRightHand  BodyLeftLeg  BodyRightLeg  SkeletonHead  SkeletonTorso  SkeletonLeftArm  SkeletonRightArm  SkeletonLeftHand  SkeletonRightHand  SkeletonLeftLeg  SkeletonRightLeg
0         OSTO    e25yde7                20            1   Takedar            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
1         OSTO    e25yde7                20            2      Jukk     19218242          0           0             0              0              0               0             0              0         0    1844741      1096022       1245824        985381         918034      5879375       7248862             0              0                0                 0                 0                  0                0                 0
2         OSTO    e25yde7                20            3      Jukk     19349413       3984           0             0         692508              0               0             0              0         0    6637156      1069809       7758546        954661        1124146       376840        731758             0              0                0                 0                 0                  0                0                 0
3         OSTO    e25yde7                20            4     Lojak            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
4         OSTO    e25yde7                20            5   Takedar            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
..         ...        ...               ...          ...       ...          ...        ...         ...           ...            ...            ...             ...           ...            ...       ...        ...          ...           ...           ...            ...          ...           ...           ...            ...              ...               ...               ...                ...              ...               ...
386      一个复古风    y66xd7n                 8            3      Jukk            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
387      一个复古风    y66xd7n                 8            4     Lojak            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
388      一个复古风    y66xd7n                 8            5   Takedar            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
389      一个复古风    y66xd7n                 8            6     Lojak      6112856          0           0        671270              0        5441586               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0
390      一个复古风    y66xd7n                 8            7   Takedar            0          0           0             0              0              0               0             0              0         0          0            0             0             0              0            0             0             0              0                0                 0                 0                  0                0                 0

[391 rows x 30 columns]

In [31]:
summm=df1.groupby("PlayerCode").sum().reset_index()

In [20]:
df1[df1["PlayerCode"]=="x67y9yq"]['TotalRaidAttacks'].max()

16

In [30]:
(df1['TitanNumber'].max()+1)

8

In [36]:
summm['TotalRaidAttacks'].rank(method='max')

0     15.0
1     38.0
2     49.0
3      7.0
4     13.0
5     38.0
6     38.0
7     38.0
8     49.0
9     38.0
10    38.0
11     7.0
12    38.0
13    49.0
14     8.0
15    49.0
16    38.0
17    13.0
18    49.0
19    38.0
20     7.0
21    38.0
22    13.0
23    49.0
24    38.0
25    13.0
26    38.0
27    39.0
28    38.0
29    16.0
30     7.0
31    15.0
32    38.0
33    38.0
34    38.0
35    38.0
36    13.0
37    49.0
38     7.0
39    49.0
40    49.0
41    38.0
42    38.0
43    38.0
44    38.0
45    38.0
46     7.0
47     7.0
48    49.0
Name: TotalRaidAttacks, dtype: float64